apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: faveo-thetamilselvan-application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/tamilselvan-lws/argocd.git
    targetRevision: HEAD
    path: faveo-manifests
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      prune: true